body{
	background: #fff;
}

.table-control-btns{
    width: 100%;
}

.table-control-btns tr td{
    padding: 0;
    text-align: center;
    background: inherit;
}


.table-control-btns tr td a{
	background: #fff; display: block;
}

.line {
    border-bottom: 1px solid #ddd;
}

.table{
	font-size: 11px;
}

.table tr td{
	max-width: 200px;
	word-wrap: break-word;
}

.content-panel{
	background: #f4fff7;
}

.post_wrapper .post_by{
	padding: 10px 0px 10px 0px;
}

.post_date span a{
	font-size: 12px;
	text-decoration: underline;
	padding-left: 5px;
}