body{
	background: #c7ccc8;
}

.wrapper{
	margin-top: 100px;
}

.content-panel{
	background: #fff;
	margin-bottom: 20px;
}

hr.style2 {
	border-top: 3px double #8c8b8b;
}

.fa-angle-double-right, .fa-angle-right{
	color: #e8e830;
}

/*.post_wrapper{
	margin: 0;
	padding: 0;
}*/

.post_cover img{
	width: 100%;
	height: auto;
}

.cover_portrait img{
	width: 100%;
	height: 320px;
    max-height: 100%;
}

.post_wrapper{
	padding: 20px;
}

.post_title{
	padding: 20px;
	font-size: 1rem;
	font-weight: bold;
}

.post_wrapper .post_date{
	font-size:11px;
}

.post_wrapper .post_description p{
	font-size:12px; 
	font-size:1rem; 
	font-height:1.5rem; 
	color: #5f5e5e;
}

.post_wrapper .post_by{
	padding: 20px 0px 20px 0px;
}

.link-read-more{
	font-size: 15px;
	font-weight: bold;
	color: #1dc61d;
}

.agri_quote_of_the_day{
	font-size:14px; 
	font-size:1rem; 
	font-height:1.5rem;
	font-weight: bold; 
	color: #5f5e5e;
	padding: 10px;
	text-align: center;
}

.cover_img img{
	width: 100%; 
	height: auto; 
	min-height: 300px;
	max-height: 400px;
}

.lessons-without-cover{
	border-bottom: 1px solid #dbdbdb;
}


.lesson-details-wrapper{
	color: #313233;
	background: #fff;
	padding: 20px;
	font-family: 'Poppins', sans-serif;
}

.lesson-details-wrapper .date, .lesson-details-wrapper .posted_by{
	font-size:11px;
}

.lesson-details-wrapper .title{
	color: black;
	margin-top: 20px;
	line-height: 2rem;
	margin-bottom: 20px;
	font-size:2rem;
}

.line{
	margin-bottom: 5px;
}


.btns-quizzes a{
	margin-top: 10px;
	font-size: 11px;
	background: #c7c8c9;
	border-radius: 0px;
	padding: 5px;
}

.lesson-details-wrapper .category{
	font-size:11px;
}

.lesson-details-wrapper .contents{
	min-height: 500px;
}

.lesson-details-wrapper .contents img{
	width: 100%;
	height: auto;
}

.lesson-details-wrapper .contents, .lesson-details-wrapper .contents p{
	/*line-height: 2rem;*/
	color: #5f5e5e;
	font-size: 14px;
}

.comments{
	margin-top: 20px;
}

.comments_wrapper{

	margin-bottom: 15px;
}

.comments_wrapper .card-header{
	font-size: 12px;
	color: #313233;
}

.comments_wrapper .card-footer button{
	padding: 4px; 
	font-size: 11px;
}

/*.comments_wrapper{
	background: #ffffff;
	width: 100%;
	border: 1px solid #dddddd;;
}*/

.chapter_lessons{
	padding: 10px;
	padding-top: 20px;
}


.chapter_lessons .chapters_title{
	color: black;
}

.chapter_lessons .chapter_lesson_list{
	margin-top: 10px;
}

.chapter_lessons .chapter_lesson_list ul li{
	list-style-type: none;
	padding-top: 15px;
	font-size: 12px;
}

.chapter_lessons .chapter_lesson_list ul li a.link-read-more{
	font-size: 11px;
}
